.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.input-field {
  width: 500px;
  display: inline-block;
  margin: 10px;
}

.navbar .navbar-search .dropdown-menu { min-width: 25px; }
.btn-outline {
    background-color: transparent;
    color: inherit;
    transition: all .5s;
}
